# This file is a "template" of which env vars need to be defined for your application
# Copy this file to .env file for development, create environment variables when deploying to production
# https://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration

###> symfony/framework-bundle ###
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=ccf8b612ed5a6ddfc67d32972e093768
###< symfony/framework-bundle ###

EVENT_STORE_LOGIN=login
EVENT_STORE_PASSWORD=password
EVENT_STORE_URI=http://127.0.0.1:2113

AIRBNB_KEY=key

FARE_PORTAL_LOGIN=login
FARE_PORTAL_PASSWORD=password
FARE_PORTAL_URL=https://api-dev.fareportallabs.com

RABBIT_USERNAME=login
RABBIT_PASSWORD=password

MONGO_ROOT_USERNAME=login
MONGO_ROOT_PASSWORD=password
###> php-amqplib/rabbitmq-bundle ###
RABBITMQ_URL=amqp://guest:guest@localhost:5672
###< php-amqplib/rabbitmq-bundle ###
